[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pdfkit = "*"
openpyxl = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.8"
